PORT=8000
NODE_ENV=development|staging|production

EMAIL_USER=username
EMAIL_PASS=password
EMAIL_HOST=host
EMAIL_PORT=port

JWT_ACCESS_TOKEN_PRIVATE_KEY=someKeyHere
JWT_ACCESS_TOKEN_PUBLIC_KEY=someKeyHere
JWT_REFRESH_TOKEN_PRIVATE_KEY=someKeyHere
JWT_REFRESH_TOKEN_PUBLIC_KEY=someKeyHere

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://<username>:<password>@localhost:<port>/<db>"
SHADOW_DATABASE_URL="mysql://<username>:<password>@localhost:<port>/<db>"